PORT=5000
FIREBASE_DATABASE_URL=your_firebase_database_url_here
NODE_ENV=development

# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=spinesense

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d
